doctype html
html
    head
        title MyChat
        script(src='jquery-2.1.1.min.js')
        script(src="socket.io-1.1.0.js")
        script(src="script.js")
    body
        div.container
            header
                h1 Chat Sample
            input(type='text')#pseudoInput
            button#pseudoSet Set Username
            div#chatEntries
            div#chatControls
                input(type='text')#messageInput
                button#submit Send Message